.page {
    background-color: #f6f7f8;
    color: $mainColor;
    font-family: 'Figtree';

    &__container {
        max-width: em($maxWidthContainer);
        margin: 0 auto;

        @media (max-width: $pc) {
            max-width: em(1100);
        }
        @media (max-width: $tablet) {
            max-width: em(800);
        }
        @media (max-width: $mobile) {
            max-width: none;
        }
    }
}
