// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: '';
$fontSize: rem(16); // (px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainColor: #000;
$mainBackgroundColor: #f7f8f9;
$orange: rgb(254, 114, 0);
$blue: rgb(21, 177, 197);
$transparent: rgba(0, 0, 0, 0.4);
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
    $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
