@use 'sass:math';
@import 'src/app/scss/mixins';
@import 'src/app/scss/variables';

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: em(700);
    margin: 0 auto;
    text-align: center;

    font-size: rem(20);

    &__title {
        text-align: left;
        grid-column: 1/2;

        font-family: 'Prompt';
        font-size: rem(30);
        padding: 30px 0px;
    }

    &__name {
        padding: 10px;
        margin-bottom: 5px;
        border-left: 2px solid $transparent;
    }

    &__sex {
        padding: 10px;
        margin-bottom: 5px;
        border-left: 2px solid $transparent;
    }

    &__phone {
        padding: 10px;
        margin-bottom: 5px;
        border-left: 2px solid $transparent;
    }

    &__email {
        padding: 10px;
        border-left: 2px solid $transparent;
    }

    &__city {
        padding: 10px;
        border-left: 2px solid $transparent;
    }
    &__buttons {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: right;

        font-family: 'Prompt';
        font-size: rem(16);
        // padding: 30px 0px;
    }
}
