@use 'sass:math';
@import 'src/app/scss/mixins';
@import 'src/app/scss/variables';

.categoryPage {
    padding: 1px;
    &__breadcrumbs {
    }
    &__title {
    }
    &__body {
    }
}

.titleCat {
    display: flex;
    line-height: rem(34);
    font-family: 'Prompt';
    font-size: rem(30);
    gap: 20px;

    &__title {
        text-transform: capitalize;
    }

    &__quantity {
        color: $transparent;
    }
}

.bodyCat {
    display: flex;

    &__list {
        flex: 1 1 auto;
    }
    &__pagination {
        text-align: center;
    }
    &__filter {
        background-color: rgba(152, 202, 250, 0.1);
        border-radius: 8px;
        flex: 0 0 em(252);
    }
}

.filter {
    padding: 20px;
    &__title {
        font-family: 'Prompt';
        font-size: rem(30);
        margin: 0px 0px 20px 0px;
    }

    &__button_clear {
        background-color: $blue;
        height: 35px;
    }
}
